<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="ID/Name"  [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <!-- List of Tweets -->
    <!-- <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet> -->
    <ion-list >
      <ion-list-header>
        <ion-label>Users found: {{filteredList.length}}
        </ion-label>
        </ion-list-header>
      <app-user *ngFor="let user of filteredList" [user]="user"></app-user>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
