<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="timeline">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-badge color="primary">11</ion-badge>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tweet">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
