<ion-row class="wrapper" >
  <ion-col size="2" class="ion-align-self-center ion-text-center">
    <!-- <ion-avatar>
      <ion-img [src]="tweet.img  || 'https://picsum.photos/id/'+tweet.id*2+'/200/300'"></ion-img>
    </ion-avatar> -->
    <ion-badge *ngIf="user?.active"  name="person">active</ion-badge>
  </ion-col>
  <ion-col size="10">
    <ion-row class="tweet-info">
      <ion-col size="12">
        <span class="name">@{{ user.username }}</span>
        <span class="handle">{{ user.email }}</span>
        <span class="handle">joined- {{ user.join_date | date: 'medium' }}</span>
      </ion-col>
    </ion-row>

     <ion-row class="ion-justify-content-start">
      <ion-col *ngIf="!unfollowCheck">
        <ion-button fill="clear" color="primary"  size="small" (click)="follow(user.id)">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          follow
        </ion-button>
      </ion-col>

      <ion-col *ngIf="unfollowCheck">
        <ion-button fill="clear" color="primary"  size="small" (click)="unfollow(user.id)">
          <ion-icon name="person-remove-outline" slot="start"></ion-icon>
          unfollow
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="share-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="detail">
        <ion-button fill="clear"  [routerLink]="['/user-details/',user.id]">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-col>
</ion-row>
